<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header" :: header>
    <!-- jsp:include tag와 같은 역할 .실제 화면이 rendering 될 때 th:replace tag로 바꿔치기 한다.-->
    <!-- 실무에서는 이런 include 잘 안쓰고 (페이지마다 중복 코드가 너무 많기 때문) . Hierarchical-style layouts 방식 사용함
        https://www.thymeleaf.org/doc/articles/layouts.html
    -->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
            <div class=""jumbotron>
                <h1>HELLO SHOP</h1> <!-- 수정 후 ctrl+shift+f9 (build tab 의 recomplie *.html -->
                <p class="lead">회원 기능</p>
                <p>
                    <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
                    <a class="btn btn-lg btn-secondary" href="/members">회원 목록</a>
                </p>
                <p class="lead">상품 기능</p>
                <p>
                    <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>
                    <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
                </p>
                <p class="lead">주문 기능</p>
                <p>
                    <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
                    <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
                </p>
            </div>

            <div th:replace="fragments/footer :: footer"></div>
<!--        </div>-->
    </div>
</body>
</html>